
<div class="container__menu-title">
  <app-menu-title></app-menu-title>
</div>

<div class="container__articles">

  <div class="articles__main">
    <app-big-card
      pictureCover="https://res.cloudinary.com/practicaldev/image/fetch/s--7q3tE-xl--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/i/qyix6eyhrnc8x9c44yp2.jpg"
      cardTitle="Framework de Desenvolvimento Web"
      cardDescription="Angular é um framework de desenvolvimento web de código aberto que permite criar aplicativos de página única e escaláveis com JavaScript e TypeScript, com arquitetura robusta e um conjunto abrangente de recursos.">
    </app-big-card>
  </div>

  <div class="articles__others">
    <app-small-card
    pictureCover="https://res.cloudinary.com/practicaldev/image/fetch/s--7q3tE-xl--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/i/qyix6eyhrnc8x9c44yp2.jpg"
    cardTitle="Titulo 1 do artigo">
    </app-small-card>

    <app-small-card
    pictureCover="https://res.cloudinary.com/practicaldev/image/fetch/s--7q3tE-xl--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/i/qyix6eyhrnc8x9c44yp2.jpg"
    cardTitle="Titulo 2 do artigo">
    </app-small-card>

    <app-small-card
    pictureCover="https://res.cloudinary.com/practicaldev/image/fetch/s--7q3tE-xl--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/i/qyix6eyhrnc8x9c44yp2.jpg"
    cardTitle="Titulo 3 do artigo">
    </app-small-card>
  </div>

</div>
